@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gayathri", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #000000;
  height: 100vh;
}

nav {
  position: fixed;
  z-index: 999;
  background: #000000;
  width: 100%;
  height: 85px;
}

.logo {
  color: white;
  font-size: 40px;
  padding: 0 100px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 3px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 85px;
  margin-right: 50px;
}

nav ul li a {
  color: white;
  font-size: 22px;
  position: relative;
  font-weight: 900;
}

a::before {
  content: "";
  border-bottom: 2px solid #ffbd39;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s;

}

a:hover::before {
  width: 100%;
}

.checkBtn {
  display: none;
  font-size: 50px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}

.checkBtn img {
  width: 20px;
  transition: all 0.3s ease-in;
}

.checkBtn #cross::before {
  content: "X";
  color: white;
  font-size: 35px;
  font-weight: 900 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  right: -100px;
  opacity: 0;
  transition: all 0.3s ease-in;
}

#check {
  display: none;
}

@media (max-width:1200px) {

  .logo {
    font-size: 35px;
    padding: 0;
    margin-left: 25px;
  }

  .checkBtn {
    display: block;
    margin-right: 25px;
  }

  .checkBtn img {
    width: 32px;
    margin-top: 25px;
  }

  ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #232425;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  nav ul li {
    display: block;
    margin-top: 50px;
    line-height: 30px;
    text-align: center;
    padding-left: 5%;
  }

  nav ul li a {
    font-size: 35px;

  }

  a:hover {
    background: none;
    color: #ffbd39;
  }

  #check:checked~ul {
    left: 0;
  }

  #check:checked~.checkBtn img {
    transform: translateX(100px);
  }

  #check:checked~.checkBtn #cross::before {
    opacity: 1;
    right: 0px;
  }
}

@media (max-width:600px) {
  .logo {
    font-size: 30px;
    padding: 0;
    margin-left: 15px;
  }

  .checkBtn {
    margin-right: 15px;
  }

  .nav-links li {
    margin-left: 5%;
  }

  .nav-links li a {
    font-size: 24px;
  }
}

/* HOME */

.introduction {
  padding-top: 50px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introduction .name-section {
  display: flex;
  flex-direction: column;
  color: white;
}

#hello {
  color: #ffbd39;
  font-size: 20px;
}

.my-name {
  font-size: 80px;
  letter-spacing: 3px;
}

.my-name span {
  color: #ffbd39;
}


.name-section div:nth-child(3) {
  font-size: 35px;
  font-weight: 900;
}

.name-section button {
  margin-top: 20px;
  width: 11rem;
  height: 3rem;
  background: #ffbd39;
  color: #000000;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1.5px;
  border: 1px solid #ffbd39;
  transition: all 0.5s ease;
}

.name-section button:hover {
  cursor: pointer;
  scale: 1.1;
}

.my-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-img img {
  width: 450px;
  border-radius: 50%;
}


/* About section */

.about {
  height: 100vh;
}

.about-main {

  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 30px;
}

.about h2 {
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

.about p {
  line-height: 1.6;
  font-size: 20px;
  color: #999999;
  letter-spacing: 1.5px;

}

.tag {
  color: #ffbd39;
}

strong {
  color: #ffffff;
  letter-spacing: 1.5px;
  font-size: 20px;
}

#photo {
  margin-right: 100px;
}

#photo img {
  width: 400px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 100px;
}


/* EDUCATION SECTION */
#education {
  padding-top: 100px;
  height: 100vh;
}

.eduheading h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.educationcontent {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 1.5rem;
  gap: 3px;
  align-items: center;
  justify-content: space-evenly;

}

.myedu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30rem;
  height: 10rem;
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 10px;
  background-color: #323232;
  box-shadow: #1c1b1b 7px 7px;
  transition: 0.5s;
}

.myedu:hover {
  cursor: pointer;
  /* box-sizing: border-box; */
  background-color: #704e0b;

}

.year {
  color: #ffbd39;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

.degree {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;

}

.clgname {
  color: #999999;
  font-size: 1rem;
  line-height: 1.6;

}

/* skills scetion */
.skills {
  height: 100vh;
  padding: 100px 80px 0px 80px;
}

.myskills h2 {
  margin-top: 112px;
  margin-bottom: 24px;
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.progressbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.sk h3 {
  color: #ffffff;
  height: 1px;

}

.span {
  color: #ffffff;
  margin-right: 2rem;
}

.bar {
  margin: auto;
  border: 1px solid #252424;
  box-shadow: #1c1b1b 1.5px 1.5px;
}

#range1 {
  height: 10px;
  width: 95%;
  background: #ffbd39;
}

#range2 {
  background: #ffbd39;
  height: 10px;
  width: 80%;
}

#range3 {
  background: #ffbd39;
  height: 10px;
  width: 70%;
}

#range4 {
  background: #ffbd39;
  height: 10px;
  width: 95%;
}

#range5 {
  background: #ffbd39;
  height: 10px;
  width: 50%;
}

/* PROJECT SECTION */

#myproject {
  padding-top: 100px;
  height: 100vh;
}

.projecttext h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
  margin: 0 8rem;
}

.pro-box {
  height: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #252424;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  border: 2px solid #323232;
  box-shadow: #2c2b2b 3px 3px 3px;
}

.pro-image {
  height: 100%;
  width: 100%;
}

.pro-image img {
  width: 100%;
  opacity: 0.5s;
  height: 100%;
  transition: 0.5s;
}

.pro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(100%);
  background: linear-gradient(rgba(223, 237, 68, 0.753), rgba(255, 255, 255, 0.534));
}

.pro-content h3 {
  color: rgb(0, 0, 0);
  font-size: 2.2rem;
  font-weight: 900;
}

.pro-content a {
  border: 2px solid #ffbd39;
  border-radius: 7px;
  padding: 5px 20px;
  background-color: #ffbd39;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-top: 13px;
}

.pro-box:hover .pro-content {
  opacity: 1;
}

.pro-content a i {
  font-size: 1.3rem;
  color: var(--secon-bg-color);
}

.pro-box:hover .pro-content {
  transform: scale(1.1);
}

/* CONTACT ME */
.contant {
  padding-top: 100px;
  width: 100%;
  margin-top: 112px;
  text-align: center;
}

.main-text h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
}

.main-text span {
  color: #999999;
  font-size: 20px;
  font-weight: 900;
}

.contant form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.contant form input,
.contant form textarea {
  width: 100%;
  color: #dfdddd;
  background: var(--bg-color);
  margin-bottom: .8rem;
  border: 1px solid #2c2b2b;
  box-shadow: #252424 1px 1px;
  border-radius: 5px;
  padding: .7rem;
}

.contant form textarea {
  resize: none;
}

.btn-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-box .btn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background-color: #ffbd39;
  padding: 15px;
  border: 2px solid #2c2b2b;
  border-radius: 10px;
  opacity: 1;
  outline: #323232;
  transition: 0.5s;
  transform: scale(1);

}

.btn-box:hover .btn {
  border: 2px solid #ffbd39;
  background: transparent;
  color: #ffffff;
}

/* FOOTER */
footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #704e0b;
}

::-webkit-scrollbar-thumb {
  background-color: #ffbd39;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333
}

/* RESPONSIVE WORK */
@media (max-width:1430px) {

  .my-img img {
    width: 300px;
  }

  .introduction {
    justify-content: space-around;
  }

  .my-name {
    font-size: 60px;
  }

  .domain {
    font-size: 30px;
  }

  /* about */
  #photo img {
    width: 300px;
  }

  .container3 h2 {
    font-size: 30px;
  }

  .container3 p {
    font-size: 16px;
  }

  /* skills */
  #skills {
    height: 80vh;
  }

  /* project */

  #myproject {
    margin-bottom: 400px;
  }

  .project-gallery {
    padding-top: 50px;
    grid-template-columns: repeat(2, 320px);
    justify-content: space-evenly;
  }

  .pro-box {
    height: 400px;
    margin-bottom: 20px;
  }

  /* contect */

  .contant {}

  /* education */

  .educationcontent {
    grid-template-columns: repeat(1, auto);
  }

  #education {
    padding-bottom: 500px;
  }

}

@media (max-width:870px) {

  .introduction {
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: 20px;
    height: 90%;
  }

  .my-img img {
    width: 250px;
  }

  .my-name,
  .my-name span {
    font-size: 45px;
  }

  #hello {
    font-size: 15px;
  }

  .domain {
    font-size: 18px !important;
    margin-bottom: 30px;
  }

  .name-section button {
    margin: auto;
  }


  #photo {
    display: none;
  }

  .container3 h2 {
    text-align: center;
    font-size: 35px;
  }

  .container3 p {
    padding-left: 40px;
    font-size: 20px;
  }

  .about {
    height: 70%;
  }

  .project-gallery {
    grid-template-columns: repeat(1, 320px);
  }

  #myproject {
    padding-bottom: 500px;
  }

  .main-text {
    margin: auto;
    width: 500px;
  }

  .pro-box {
    height: 280px;
  }

}

@media (max-width:605px) {
  .myedu {
    width: 300px;
  }
}

@media (max-width:580px) {

  .logo>span {
    font-size: 30px;
  }

  .my-img img {
    width: 200px;
  }

  .my-name,
  .my-name span {
    font-size: 30px;
  }

  #hello {
    font-size: 15px;
  }

  .domain {
    font-size: 18px !important;
    margin-bottom: 30px;
  }

  .name-section button {
    margin: auto;
  }

  .about {
    padding-top: 150px;
  }

  .about-main {
    padding-top: 0px;
    padding: 0;
  }

  .about-main p,
  strong {
    font-size: 15px;
    margin-top: 10px;
  }

  .container3 h2 {
    font-size: 28px;
  }

  #education {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .eduheading h2 {
    font-size: 28px;
  }

  .myedu {
    width: 200px;
    padding: 10px 20px;
  }

  .myedu h3 {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .myedu h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .myedu span {
    font-size: 14px;
  }

  .skills {
    padding-top: 200px;
  }

  .myskills h2 {
    font-size: 28px;
  }

  .progressbar h3,
  span {
    font-size: 14px;
  }

  #myproject {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .projecttext h2 {
    font-size: 28px;
  }

  .project-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pro-box {
    width: 250px;
    height: 225px;
  }

  .main-text h2 {
    font-size: 28px;
  }

  .main-text {
    padding-right: 15px;
    margin: auto;
    width: 300px;
  }

  .main-text>span {
    font-size: 16px;
  }

  .btn-box {
    margin-left: 10px;
  }
}
